<div class="border-bottom col-12 col-sm-12 " style="position:relative;top:90px;"></div>
<div class="d-flex flex-wrap  container col-12 col-sm-12 col-lg-12 col-md-12    " style="position:relative;top:90px;">
  <div class="row">
    <div *ngIf="cart!==0" class="col-12 col-lg-8 col-sm-12 border-end" >
      <div class="border mt-3 d-flex justify-content-between" style="height:50px;">
        <input class="ms-2 border border-0 btn btn-outline-light" type="number" placeholder="Enter your pincode">
<button class=" me-5 bg-transparent border-0"  style="color:red;" >check</button>

      </div>


      <div class="border mt-3">
          <p class="ms-5" style="color:black;font-weight: 600;">Available offers</p>
         <p class="ms-4" style="color:grey;font-size: 11px;">10% to 100% offers goin on from a wide veraity of credit or debit cards</p>
<div class="collapse" id="collapseExample">
  <div class=" ms-4 " style="color:grey;font-size: 11px;">
   <li>Get 20% off upto Rs. 150/- discount on participating Restaurants & Flat Rs. 50/- off on non-participating restaurants on
  minimum transaction value of Rs. 499/-</li>
   <li>Get 20% off upto Rs. 250/- discount on participating Restaurants & Flat Rs. 50/- off on non-participating restaurants on
  minimum transaction value of Rs. 599/-</li>
   <li>Get 20% off upto Rs. 350/- discount on participating Restaurants & Flat Rs. 50/- off on non-participating restaurants on
  minimum transaction value of Rs. 699/-</li>
   <li>Get 20% off upto Rs. 450/- discount on participating Restaurants & Flat Rs. 50/- off on non-participating restaurants on
  minimum transaction value of Rs. 799/-</li>
   <li>Get 20% off upto Rs. 550/- discount on participating Restaurants & Flat Rs. 50/- off on non-participating restaurants on
  minimum transaction value of Rs. 899/-</li>

  </div>
</div>
<button  class="border border-0 bg-transparent ms-5 mb-2 " type="button" style="color:#ff3e6c;font-weight: bold;"data-bs-toggle="collapse" data-bs-target="#collapseExample"
  aria-expanded="false" aria-controls="collapseExample" (click)="title()">
{{titlee}}
</button>
</div>
    <div class="border mt-2" style="height:50px;">


<p class="ms-4 mt-3" style="color:rgb(63, 62, 62);font-size: 13px;">
  <!-- <i class=" "></i> -->

  yay!no <i>convinence fee</i> on this order </p>
    </div>
        <div class="border mt-2" style="height:50px;">
<p class="ms-4 mt-3" style="color:rgb(63, 62, 62);font-size: 13px;">items not deliverable to this <i>adderess</i>...</p>
        </div>
<div *ngFor="let cart of cart" class="d-flex flex-wrap mt-4 col-12 col-sm-12 col-lg-12 col-md-12 rounded " style="border:1px solid #ff3e6c ">
<div class="container">
<div class="row">
<div class="col-12 col-sm-12 col-lg-3 col-md-6  d-flex flex-wrap justify-content-center"><img class="mt-4" src={{cart.img}} alt="..." style="height:140px;width:110px ;">
<!-- <div class="border-bottom" style="width:100% ;position:relative;top:10px;"></div> -->


</div>


<div class="col-12 col-sm-12 col-lg-9 col-md-6 d-flex flex-wrap justify-content-between">
  <div class="d-flex flex-wrap flex-column">
    <h4 class="card-title">{{cart.brand}}</h4>
<!-- <div> -->
<div class="d-flex flex-wrap justify-content-between " style="line-height:6px;">
  <p style="color:grey ;font-size: 16px; font-weight: 300;">Men solid Tea shirt for all ocasion</p>
</div>
<div class="d-flex flex-wrap justify-content-between " style="line-height:3px;">
  <p style="color:grey ;font-size: 12px;font-weight: 200;">Sold by:{{cart.brand}} producers</p>
</div>
<div class="d-flex flex-wrap justify-content-between " style="line-height: 10px;">
<button class="btn border-0  bg-transparent pt-0 " style="height:20px;font-weight: 500;" (click)="mainSize('size'+cart.id)">size v</button>
<button class="btn border-0  bg-transparent pt-0 " style="height:20px;font-weight: 500;" (click)="mainQuantity('quantity'+cart.id)" >quantity v </button>

</div>


  <div class="d-flex flex-wrap mt-2">
    <div id="size{{cart.id}}" style="display: none;">
  <div class="d-flex flex-wrap"  >
    <button (click)="size('S')" style="color:red" class="border-0 btn ">S</button>
    <button (click)="size('L')" style="color:red" class="border-0 btn ">L</button>
    <button (click)="size('M')" style="color:red" class="border-0 btn ">M</button>
    <button (click)="size('XL')" style="color:red" class="border-0 btn ">XL</button>
  </div>
  </div>
    <div id="quantity{{cart.id}}" style="display: none;">

  <div class="d-flex flex-wrap ms-5" >
    <button (click)="quantity(1)" style="color:red"  class="border-0 btn ">1</button>
    <button (click)="quantity(2)" style="color:red" class="border-0 btn ">2</button>
    <button (click)="quantity(3)" style="color:red" class="border-0 btn " >3</button>
    <button (click)="quantity(4)" style="color:red" class="border-0 btn">4</button>
  </div>
  </div>
  </div>
<div>
  <div class="d-flex flex-wrap justify-content-between " style="line-height: 10px;">
    <h6 class="ms-3">{{cart.size}}</h6>
    <p class="mt-2" style="color:#2f302f;font-size: 14px;font-weight:600;"> Quantity <span class="ms-2" style="color:red">{{cart.quantity}}</span></p>

  </div>
  <!-- </div> -->
</div>
<div class="d-flex flex-wrap justify-content-between  mt-2" style="line-height: 10px;">
   <p style="color:#228f65;font-size: 14px;font-weight:400;">combo Discount   ₹{{(cart.price *cart.quantity)-359.25}}rs</p>
</div>
<div class="d-flex flex-wrap justify-content-between " style="line-height: 10px;">
  <p style="color:orangered ;font-size: 11px;font-weight: 600;">Dont miss the <b>offer</b> order soon</p>
</div>
<!-- </div> -->
  </div>
  <div class="d-flex flex-wrap flex-column">
  <p class="mt-3 ms-2"  style="color:rgb(56, 55, 55) ;font-size: 14px;font-weight: 700;">₹{{cart.price *cart.quantity}}rs</p>
  <s class=""  style="color:rgb(161, 159, 159) ;position:relative;top:-15px;font-size: 14px;font-weight: 300;">₹{{(cart.price *cart.quantity)*2-359.25}}rs</s>
  </div>
 </div>
<hr class="mt-1">
<div class="col ">
  <div class="d-flex">
<button class="border-0 border-end bg-transparent ms-3  " style="color:grey ;position:relative ;top:-9px;height:40px" (click)="removeItem(cart.id)">remove</button>
<button class="btn btn-light ms-3" style="position:relative ;top:-9px;color:#ff3e6c"
  (click)="updateCart(cart.id,cart.quantity,cart.size)"> select SIZE OR QUANTITY and CLICK</button>

  </div>

</div>
</div>

</div>
</div>
</div>

<div *ngIf="cart!==0" class="col-12 mt-4 col-sm-12 col-lg-4 d-flex flex-wrap align-content-start ">

  <div class="container">
    <div class=" col-12 col-sm-12 col-lg-12 col-md-12 " style="position:relative;left:5px ;height:100vh;">
      <p style="color:grey ;font-size: 14px;">COUPONS</p>
      <div class="mt-3">
<div class="d-flex flex-wrap justify-content-between ">
<p class="ms-4" style="font-size: 14px; color:rgb(56, 53, 53);font-weight: bold;">Apply Coupons</p>
<button class=" border border-danger btn btn-outline-light pt-0" style="height:30px;color:#ff3e6c;letter-spacing: 2px;font-size: 15px;font-weight: 500;">APPLY</button>
</div>
<p class="ms-4" style="font-size: 14px; color:grey"><span style="color:#ff3e6c;font-size: 14px;font-weight: bold;">Login</span> to get up to ₹300rs off</p>
      </div>
<hr>
      <p style="color:grey ;font-size: 14px;">GIFTING & PERSONALISATION</p>
<img src="../../assets/carousel-images/cartgift.png">

<hr>
      <p style="color:grey ;font-size: 14px;">PRICE DETAILS ({{cart.length}})items</p>
      <div class="d-flex flex-wrap justify-content-between" style="line-height: 10px;">
<p style="color:grey ;font-size: 14px;">Total MRP</p>
<p>₹{{totalPrice+999}}</p>

      </div>
      <div class="d-flex flex-wrap justify-content-between "style="line-height: 10px;">
<p style="color:grey ;font-size: 14px;">Discount on MRP</p>
<p style="color:#228f65;font-size: 14px;font-weight:400;">₹-999rs</p>

      </div>
      <div class="d-flex flex-wrap justify-content-between " style="line-height: 10px;">
<p style="color:grey ;font-size: 14px;">Coupon Discount</p>
<p style="color:#ff3e6c;font-size: 14px;font-weight:400;">Apply coupon</p>

      </div>
      <div class="d-flex flex-wrap justify-content-between" style="line-height: 10px;">
<p style="color:grey ;font-size: 14px;">Convinence Fee <span style="color:#ff3e6c;font-size: 14px;font-weight: bold;">know more</span></p>
<p style="color:#228f65;font-size: 14px;font-weight:400;">FREE</p>


      </div>


 <hr>
<div class="d-flex flex-wrap justify-content-between" style="line-height: 10px;">
  <p style="color:rgb(56, 53, 53) ;font-size: 16px; font-weight: 700;">Total Amount </p>
  <p style="color:rgb(56, 53, 53);font-size: 16px;font-weight:700;">₹ {{ totalPrice}}rs</p>
</div>
<button class="btn btn-lg col-12 pt-1 mt-2" style="background-color:#ff3e6c;color:white;height:40px;font-size:15px ;font-weight: 600;">PLACE ORDER</button>
  </div>
</div>
</div>
</div>
</div>
<div *ngIf="cart==0" class="col-12 col-12 col-md-12 col-sm-12" style="position:relative;top:90px">
<img src="../../assets/carousel-images/emptycart.png">
</div>
